@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); 
    
*{font-family: 'minecraft'
}
p{
    font-size: 10px;
    color: black;
}


#lista{
    color: red;
}
input[name="valor"] {
    display: inline-block;
    width: 200px;
}
.h
{
    background-color: rgb(255, 255, 255);
    width: 100px;
}
.form{
    padding: 30px;
    background-color: azure;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border: 3px solid gray;
    border-radius: 20px;
}